@font-face {
  font-family: "IranYekan";
  src: url("./fonts/iranyekan.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

*,
*::before,
*::after {
  font-family: "IranYekan" !important;
}

html {
  scroll-behavior: smooth;
}

body {
  text-align: center;
  margin: 0;
  background: #f0f0f0;
  /* direction: rtl; */
  font-size: 13px;
  font-weight: bold;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

th {
  cursor: pointer;
}

.default__cursor {
  cursor: default;
}

table,
td,
tr,
th,
thead,
tfoot {
  text-align: center;
  vertical-align: middle;
}

.changes__badge {
  display: inline-block;
  color: #fff;
  width: 70px;
  max-width: 70px;
  /* height: 35px; */
  border-radius: 15px;
  text-align: center;
  vertical-align: middle;
  /* padding: 0.5rem 0.7rem; */
  /* margin: 0; */
  animation: heartbeat 10s infinite;
  animation-delay: 3s;
  overflow: hidden;
}

.danger {
  background-color: #f24343;
}

.success {
  background-color: #14d199;
}

.nav__title {
  margin-top: 10px;
  font-weight: bold;
  letter-spacing: 5px;
}

.mobile__nav,
.desktop__nav {
  color: #fff;
}

.desktop__nav {
  display: none;
}

@media screen and (min-width: 768px) {
  .desktop__nav {
    display: block;
  }
  .mobile__nav {
    display: none;
  }
}

.star {
  cursor: pointer;
}

@keyframes heartbeat {
  0% {
    transform: translateY(3px);
  }
  20% {
    transform: translateY(-3px);
  }
  40% {
    transform: translateY(3px);
  }
  60% {
    transform: translateY(-3px);
  }
  80% {
    transform: translateY(3px);
  }
  100% {
    transform: translateY(-3px);
  }
}

.loading {
  text-transform: uppercase;
  width: 150px;
  text-align: center;
  line-height: 50px;
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  margin: auto;
  transform: translateY(-50%);
}

.loading span {
  position: relative;
  z-index: 999;
  color: #fff;
}
.loading:before {
  content: "";
  background: #61bdb6;
  width: 128px;
  height: 36px;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;

  animation: 2s loadingBefore infinite ease-in-out;
}

@keyframes loadingBefore {
  0% {
    transform: translateX(-14px);
  }
  50% {
    transform: translateX(14px);
  }
  100% {
    transform: translateX(-14px);
  }
}

.loading:after {
  content: "";
  background: #ff3600;
  width: 14px;
  height: 60px;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  opacity: 0.5;

  animation: 2s loadingAfter infinite ease-in-out;
}

@keyframes loadingAfter {
  0% {
    transform: translateX(-50px);
  }
  50% {
    transform: translateX(50px);
  }
  100% {
    transform: translateX(-50px);
  }
}

.github__icon {
  color: #fff;
}

.github__icon:hover {
  color: #ccc !important;
}

.checkbox {
  margin: 0 1rem;
}

@media screen and (max-width: 900px) {
  .checkbox {
    margin: 0 1rem 1rem 1rem;
  }
}
