@font-face {
  font-family: "IranYekan";
  src: url("./fonts/iranyekan.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

*,
*::before,
*::after {
  font-family: "IranYekan" !important;
}

body {
  text-align: center;
  margin: 0;
  background: #f0f0f0;
  /* direction: rtl; */
  font-size: 13px;
  font-weight: bold;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

th {
  cursor: pointer;
}

table,
td,
tr,
th,
thead,
tfoot {
  text-align: center;
  vertical-align: middle;
}

.changes__badge {
  color: #fff;
  width: 66px;
  height: 35px;
  border-radius: 15px;
  text-align: center;
  padding: 0.3rem 0;
  overflow: hidden;
}

.danger {
  background-color: #f24343;
}

.success {
  background-color: #14d199;
}

.nav__title {
  margin-top: 10px;
}

.mobile__nav,
.desktop__nav {
  color: #fff;
}

.desktop__nav {
  display: none;
}

@media screen and (min-width: 768px) {
  .desktop__nav {
    display: block;
  }
  .mobile__nav {
    display: none;
  }
}

hr {
  height: 1px;
  color: #123455;
  background-color: #123455;
  border: none;
}
